.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  color: white;
  height: 65px;
  margin-bottom: 25px;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.headingImage {
  margin-right: 7px;
}

.headingText {
  font-weight: 400;
}
